.ass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
max-width: 1100px;
margin-top: 25px;
}
.table {
    width: 90%;
    position: relative;
    left: 50px;
}
.wtf {
    position: relative;
    right: 100px;
    top: 0px;
}