
<div class="container rtl ">
    <div class="row">
      <div class="col-md-6">
        <div class="crad">
          <div class="text-center">
            <h1>ورود</h1>
            <h6>لطفا ایمیل و پسورد را وارد کنید </h6>
          </div>
         
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ایمیل</label>
                <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">رمز</label>
                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-primary">ورود</button>
            </form>
      
       
        </div>
      </div>
    </div>
  </div>